<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1" style=" padding:2% !important;margin-top: 12%">

        <h3>
            Advertise with ICCB
        </h3>

        <p>
            We accept advertisements on the ICCB 2016 web pages as well as in the Abstract book. The ICCB 2016 web

            site is visited by thousands of potential customers for products, equipment, consumables and reagents. This is an

            excellent opportunity to directly reach your target customer. ICCB 2016 will have close to 600 participants

            including more than 100 invited speakers who are also Project Leaders who makes purchase decisions. So

            advertisements on the abstract booklet is another opportunity to directly reach your potential customer. We offer

            different possibilities and tariffs for advertisements as stated below
        </p>
        <table>
            <tr>
                <th></th>
                <th>
                    Monochromatic Multi-Colour
                </th>
                <th>
                    Monochromatic Multi-Colour
                </th>
            </tr>
            <tr ng-repeat="category in categories1">
                <td>
                    {{category.name}}
                </td>
                <td>
                    {{category.mono}}
                </td>
                <td>
                    {{category.multi}}
                </td>

            </tr>
        </table>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;margin-top:12%">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    10th September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    15 September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    30th September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accommodation
                </td>
                <td>
                    15th October 2016
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/sciPrograms">Scientific Programs</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="http://www.brsi.in">BRSI</a></li>
            <li><a href="http://www.vit.ac.in">VIT</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="main_2" class="slab col m6 offset-m1 z-depth-1" style="margin-top: 2% !important;">
        <div class="row">
            <h3>
                Sponsorship Options
            </h3>
            <p style="text-align: justify">
                We also multiple sponsorship options. Our sponsors are offered additional benefits as stated below. The sponsors in Category I will be provided a stall in the exhibition hall and a representative from the company will be allowed to participate free. Sponsors in categories I and II will also receive the added benefit of displaying their advertisement on the ICCB website for a one year period.
            </p>
        </div>
        <div class="row">
            <button class="btn-large modal-trigger waves-effect waves-light" data-target="sponsor" >View Categories</button>
        </div>
        <p style="text-align: justify">
            Matter for print advertisements (including quality graphics is any), banners for display at venues and on the websites as per the specified size has to be provided by the advertiser
            <br /><br />
            Please contact us at iccb2016@vit.ac.in for more details on sponsorship
        </p>
    </div>

</div>
<div id="sponsor" class="modal modal-fixed-footer" style="width: 100%">
    <div class="modal-content ads slab">
        <table>
            <tr>
                <th>
                    Sponsor ship Category (Tariff in Rs)
                </th>
                <th>
                    Advertisement (Max 600 x 150 pix) on ICCB 2016 home page
                </th>
                <th>
                    Advertisement (200 x 150 pix) on ICCB 2016 home page
                </th>
                <th>
                    Advertisement (200 x 150pix) on ICCB 2016 website on pages other than home page
                </th>
                <th>
                    Advertisement (200 x 70pix) on ICCB 2016 website on pages other than home page
                </th>
                <th>
                    Advertisement (full page) in the abstract book (Page other than front and back covers)
                </th>
                <th>
                    Advertisement (half page) in the abstract book (Page other than front and back covers)
                </th>
                <th>
                    Banner display at the inaugural /main venue till end of conference
                </th>
                <th>
                    Banner display at one of the venues till end of conference
                </th>
                <th>
                    Power point display (stationary) of your advt. at venue between sessions
                </th>
            </tr>
            <tr ng-repeat="category in categories2 track by $index">
                <td ng-repeat="section in category track by $index">{{section}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#/ads" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/ads") == -1) {
            window.location.assign("/#/ads")
        }
    };
</script>