<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row poster" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1" style=" padding:2% !important;margin-top: 12%">

        <div class="row">
            <h3>
                Poster Awards
            </h3>
            <p>
                Posters shall be evaluated by a team of experts for its science content, interactive skills of presenting author, novelty and relevance of results and the physical mode/attactiveness of presentation and selected for Best Poster Awards.

                The poster awards shall be announced and presented in the closing session of the conference on 10th December 2016.
            </p>
        </div>
        <div class="row">

            <ul class="content">
                <li>
                    <h5>
                        ICCB-BRSI Poster Awards
                    </h5>
                    <p>
                        The posters presented during ICCB each day would be evaluated by the independent juries and best posters in the areas of Industrial Biotechnology, Food & Agricultural Biotechnology, Medical Biotechnology, Environmental Biotechnology, and Basic & Applied Molecular Biology and Bioinformatics would be awarded BEST POSTER AWARD. The awards will include:
                    </p>
                    <ul>
                        <li>
                            A certificate and a memento.
                        </li>
                        <li>
                            The winners will be declared in the closing session of the ICCB-2016 and given the awrds.
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>
                        ICCB-Elsevier Poster Awards
                    </h5>
                    <p>
                        Elsevier, with assistance from the ICCB scientific committee, will award FIVE Best Poster Awards to poster presenters in the following areas: Algal Biofuels, Biohydrogen Production, Industrial Biorefineries, Pretreatment of Biomass, and Thermo-chemical Conversion of Biomass (one award in each category). The winners will be selected by the independent juries based on the posters presented at ICCB-2016 and will include:                    </p>
                    <ul>
                        <li>
                            A certificate
                        </li>
                        <li>
                            A book published by Elsevier, and authored by Prof Ashok Pandey et al, on the topic of award                        </li>
                        <li>
                            A free online personal subscription to BIORESOURCE TECHNOLOGY for one year
                        </li>
                    </ul>
                </li>
            </ul>
            <small>
                THE WINNERS WILL BE DECLARED IN THE CLOSING SESSION OF THE ICCB-2016 AND GIVEN THE AWARDS
            </small>
        </div>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;margin-top:12%">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    10th September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    15 September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    30th September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accommodation
                </td>
                <td>
                    15th October 2016
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/sciPrograms">Scientific Programs</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="http://www.brsi.in">BRSI</a></li>
            <li><a href="http://www.vit.ac.in">VIT</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/awards") == -1) {
            window.location.assign("/#/awards")
        }
    };
</script>