<div class="row" style="margin-top: 3.5em">
    <div class="col m2">
        <span style="visibility: hidden">
            as
        </span>
    </div>
<div id="main_1" class="col m8 z-depth-1" style="padding: 10%">
    <h3>
        Coming Soon
    </h3>
    <p>
        The page you are trying to find is under construction.
    </p>
    <p>
        The page will be added shortly.
    </p>
</div>
</div>
<script type="text/javascript">
    window.onload = function(){
        if(window.location.href.indexOf("/#/comingSoon") == -1){
            window.location.assign("/#/comingSoon")
        }
    };
</script>