<div id="main_1" class="teal">
    <h1>ICCB '16</h1>
    <hr/>
    <div class="marquee down">
        <p><a href="#!">Announcement 1</a></p>

        <p><a href="#!">Announcement 2</a></p>
    </div>
    <hr/>
    <h3>
        Coming Soon
    </h3>
    <p>
        The page you are trying to find is under construction.
    </p>
    <p>
        The page will be added shortly.
    </p>
</div>

<script type="text/javascript">
    window.onload = function(){
        if(window.location.href.indexOf("/#/comingSoon") == -1){
            window.location.assign("/#/comingSoon")
        }
    };
</script>