<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1 committees" style=" padding:2% !important;margin-top: 12%">

        <h3>
            Organizing Committee
        </h3>

        <div class="content" >
            <div class="row">
                <div class="col m6 s12 offset-m3">
                    <h5>
                        <small>Chief Patron</small>
                    </h5>
                    <ul>
                        <li>
                            <img class="rounded" src="/images/organizers/GV.jpg" height="160" width="140">
                            <br />
                           <b> Dr.G.Viswanathan
                            <br />
                            Chancellor & Founder
                            <br />
                            VIT University</b>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m12 s12">
                    <h5>
                        <small>Patrons</small>
                    </h5>
                    <div class="row" style="padding-top: 2%">
                        <ul>
                            <li class="col m4 s12 ">
                            <img class="rounded" src="/images/organizers/ShankarV.jpg"  height="160" width="140">
                            <br />
                           <b> Mr. Sankar Viswanathan
                            <br />
                           Vice President
                            <br />
                            VIT University</b>
                        </li>
                            <li class="col m4 s12">
                                <img class="rounded" src="/images/organizers/ShekarV.jpg"  height="160" width="140">
                                <br />
                                <b> Dr. Sekar Viswanathan
                                    <br />
                                    Vice President
                                    <br />
                                    VIT University</b>
                            </li>
                        <li class="col m4 s12">
                            <img class="rounded" src="/images/organizers/GVS.jpg"  height="160" width="140">
                            <br />
                           <b> Mr. G.V.Selvam
                            <br />
                            Vice President
                            <br />
                            VIT University</b>
                        </li>
                        <li class="col m6 s12 offset-m3"  style="font-size:80% !important;" >
                            <img class="rounded" style="margin-top:50px !important;" src="/images/organizers/KSV.jpg"  height="120" width="80">
                            <br />
                            Ms. Kadhambari S. Viswanathan
                            <br />
                            Assistant Vice President-Chennai
                            <br />
                            VIT University
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="col m12 s12">
                    <h5>
                        <small>Co Patrons</small>
                    </h5>
                    <ul>
                        <li>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/AAS.png"  height="160" width="140">
                            <br />
                            Dr.Anand A Samuel
                            <br />
                            Vice Chancellor
                            <br />
                            VIT University
                        </li>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/VR.jpg"  height="160" width="140">
                            <br />
                            Dr. V. Raju
                            <br />
                            Pro-Vice Chancellor
                            <br />
                            VIT University
                        </li>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/PG.jpg"  height="160" width="140">
                            <br />
                            Dr. P. Gunasekaran
                            <br />
                            Pro-Vice Chancellor
                            <br />
                            VIT University
                        </li>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/SN.png"  height="160" width="140">
                            <br />
                            Dr. S.Narayanan
                            <br />
                            Pro-Vice Chancellor
                            <br />
                            VIT University
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m12 s12 ">
                    <h5>
                        <small>General Chair</small>
                    </h5>
                    <ul>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/AP.jpg"  height="160" width="140">
                            <br />
                            Dr. Ashok Pandey
                            <br />
                            Founder - BRSI
                            <br />
                            Head, Biotechnology Division, NIIST, Trivandrum, Kerela
                        </li>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/DM.jpg"  height="160" width="140">
                            <br />
                            Dr. Datta Madamwar
                            <br />
                            President - BRSI
                            <br />
                            Professor, Sardar Patel University, Vallabh Vidyanagar, Gujarat
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m12 s12">
                    <h5>
                        <small>Conference Chairs</small>
                    </h5>
                    <ul>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/PG.jpg"  height="160" width="140">
                            <br />
                            Dr. P. Gunasekaran
                            <br />
                            Pro-Vice Chancellor
                            <br />
                            VIT University
                        </li>
                        <li class="col m6 s12">
                            <img class="rounded" src="/images/organizers/CR.jpg"  height="160" width="140">
                            <br />
                            Dr. C. Ramalingam
                            <br />
                            Dean SBST
                            <br />
                            VIT University
                        </li>

                    </ul>
                </div>
                <div class="col m12 s12">
                    <h5>
                        <small>Convenors</small>
                    </h5>
                    <ul>
                        <li class="col m4 s12">
                            <img class="rounded" src="/images/organizers/SB.jpg"  height="160" width="140">
                            <br />
                            Dr.S.Babu
                            <br />
                            Associate Dean Academics Research
                            <br />
                            Professor SBST
                            <br />
                            VIT University
                        </li>
                        <li class="col m4 s12">
                            <img class="rounded" src="/images/organizers/SKK.jpg"  height="160" width="140">
                            <br />
                            Dr.S.Karthi
                            <br />
                            Assistant Director - Placement & Training
                            <br />
                            Associate Professor SBST
                            <br />
                            VIT University
                        </li>
                        <li class="col m4 s12">
                            <img class="rounded" src="/images/organizers/KMG.jpg"  height="160" width="140">
                            <br />
                            Dr. K. M. Gothandam
                            <br />
                            Professor SBST
                            <br />
                            VIT University
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col m3 offset-m1" style="padding: 0 !important; margin-top: 11%;margin-bottom: 0">
        <ul class="collapsible" style="background: white;text-align:center;width: 100%" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(1)" style="background: none;border: none;">
                        National Steering Committee
                    </button>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(2)" style="background: none;border: none;">National Organizing Committee
                    </button>
                </div>
                <div class="collapsible-body">
                    <div class="row">

                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(3)" style="background: none;border: none;">
                        International Advisory Committee
                    </button>
                </div>
                <div class="collapsible-body">
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(4)" style="background: none;border: none;">
                        Local Working Committee
                    </button>
                </div>
                <div class="collapsible-body">
                </div>
            </li>
        </ul>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    30 June 2016
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    15 July 2016
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    30 July 2016
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accomodation
                </td>
                <td>
                    30 July 2016
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/sciPrograms">Scientific Programs</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="http://www.brsi.in">BRSI</a></li>
            <li><a href="http://www.vit.ac.in">VIT</a></li>
        </ul>
    </div>

</div>
<div id="modal1" class="modal modal-fixed-footer " style="width: 70%;">
    <div class="modal-content">
        <div class="row" >
            <div id="main_1" class="col m12 s12 slab z-depth-1">
                <div class="row">
                    <h3>
                       {{arr.name}}
                    </h3>
                </div>
                <div class="row">
                    <table>
                        <tr ng-repeat="a in arr.committee">
                            <td>
                                {{a.name}}
                            </td>
                            <td>
                                {{a.institute}}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#/committees" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/committees") == -1) {
            window.location.assign("/#/committees")
        }
    };
</script>