<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1 committees" style=" padding:2% !important;margin-top: 12%">

        <h3>
            Organizing Committee
        </h3>

        <div class="content">
            <div class="row">
                <div class="col m6 s12 offset-m3">
                    <h5>
                        <small>Chief Patron</small>
                    </h5>
                    <ul>
                        <li>
                            Dr.G.Viswanathan
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12">
                    <h5>
                        <small>Patrons</small>
                    </h5>
                    <ul>
                        <li>
                            Mr. Sankar Viswanathan
                        </li>
                        <li>
                            Dr. Sekar Viswanathan
                        </li>
                        <li>
                            Mr. G.V.Selvam
                        </li>
                    </ul>
                </div>
                <div class="col m6 s12">
                    <h5>
                        <small>Co Patrons</small>
                    </h5>
                    <ul>
                        <li>
                            Ms. Kadhambari S. Viswanathan
                        </li>
                        <li>
                            Dr.Anand A Samuel
                        </li>
                        <li>
                            Dr. S.Narayanan
                        </li>
                        <li>
                            Dr. V. Raju
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 offset-m3">
                    <h5>
                        <small>General Chair</small>
                    </h5>
                    <ul>
                        <li>
                            Dr. Ashok Pandey
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12">
                    <h5>
                        <small>Conference Chairs</small>
                    </h5>
                    <ul>
                        <li>
                            Dr. P. Gunasekaran
                        </li>
                        <li>
                            Dr. C. Ramalingam
                        </li>
                        <li>
                            Dr. Datta Madamwar
                        </li>
                    </ul>
                </div>
                <div class="col m6 s12">
                    <h5>
                        <small>Convenors</small>
                    </h5>
                    <ul>
                        <li>
                            Dr. K. M. Gothandam
                        </li>
                        <li>
                            Dr.S.Babu
                        </li>
                        <li>
                            Dr.S.Karthi
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col m3 offset-m1" style="padding: 0 !important; margin-top: 11%;margin-bottom: 0">
        <ul class="collapsible" style="background: white;text-align:center;width: 100%" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(1)" style="background: none;border: none;">
                        National Steering Committee
                    </button>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(2)" style="background: none;border: none;">National Organizing Committee
                    </button>
                </div>
                <div class="collapsible-body">
                    <div class="row">

                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(3)" style="background: none;border: none;">
                        International Advisory Committee
                    </button>
                </div>
                <div class="collapsible-body">
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <button data-target="modal1" class="modal-trigger" ng-click="setArr(4)" style="background: none;border: none;">
                        VIT Working Committee
                    </button>
                </div>
                <div class="collapsible-body">
                </div>
            </li>
        </ul>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 3% 5% !important;">
        <h5>Important Dates</h5>
        <ul>
            <li>Submission of abstracts</li>
            <li>Acceptance Notification</li>
            <li>Registration at normal rate</li>
            <li>Booking of Accomodation</li>
        </ul>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/comingSoon">Login</a></li>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/comingSoon">Program Schedule</a></li>
            <li><a href="#/contact">Contact Us</a></li>
        </ul>
    </div>

</div>
<div id="modal1" class="modal modal-fixed-footer " style="width: 70%;">
    <div class="modal-content">
        <div class="row" style="padding: 5%;">
            <div id="main_2" class="col m12 s12 slab z-depth-1">
                <div class="row">
                    <h3>
                       {{arr.name}}
                    </h3>
                </div>
                <div class="row">
                    <table>
                        <tr ng-repeat="a in arr.committee">
                            <td>
                                {{a.name}}
                            </td>
                            <td>
                                {{a.institute}}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#/committees" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/committees") == -1) {
            window.location.assign("/#/committees")
        }
    };
</script>