<div class="row" style="margin-top: 3.5em">
    <div id="main_1" class="slab col m8 offset-m2 z-depth-1 committees">
        <h3>
            Organizing Committee
        </h3>
        <div class="content">
            <div class="row">
                <h5><small>Chief Patron</small></h5>
               <ul>
                    <li>
                        Dr.G.Viswanathan
                    </li>
               </ul>
            </div>
            <div class="row">
            <h5><small>Patrons</small></h5>
            <ul>
                <li>
                    Mr. Sankar Viswanathan
                </li>
                <li>
                    Dr. Sekar Viswanathan
                </li>
                <li>
                    Mr. G.V.Selvam
                </li>
            </ul>
            <h5><small>Co Patrons</small></h5>
            <ul>
                <li>
                    Dr.Anand A Samuel
                </li>
                <li>
                    Dr. S.Narayanan
                </li>
                <li>
                    Dr. P. Gunasekaran
                </li>
            </ul>
            </div>
            <div class="row">
                <div class="col m6 s12">
                <h5><small>Conference Chairman</small></h5>
                <ul>
                    <li>
                        Dr. Ashok Pandey
                    </li>
                    <li>
                        Dr.C.Ramalingam
                    </li>
                </ul>
                </div>
                <div class="col m6 s12">
                <h5><small>Convenors</small></h5>
                <ul>
                    <li>
                        Dr.K.M.Gothandam
                    </li>
                    <li>
                        Dr.S.Babu
                    </li>
                    <li>
                        Dr.S.Karthikeyan
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="slab col m8 offset-m2 z-depth-1 committees">
        <h3 style="text-align: center">
            Working Committee
        </h3>
        <div class="content">
            <h5><small>Organizing Secretaries</small></h5>
            <ul>
                <li>
                    Dr. M.Rasool
                </li>
                <li>
                    Dr. K.Ramanathan
                </li>
                <li>
                    Dr. M.Arabi Saleh
                </li>
                <li>
                    Dr.  Arnold Ememerson
                </li>
                <li>
                    Dr. V.Mohana Srinivasan
                </li>
            </ul>
            <h5><small>Joint Organizing Secretaries</small></h5>
            <ul>
                <li>
                    Dr. A.Sivakumar
                </li>
                <li>
                    Dr. Febin Prabhudass
                </li>
                <li>
                    Dr. S.Vino
                </li>
                <li>
                    Dr. K. Suthindiran
                </li>
                <li>
                    Dr. Jabaz Osborne
                </li>
            </ul>
            <h5><small>Conference Chairman</small></h5>
            <ul>
                <li>
                    Dr. Ashok Pandey
                </li>
                <li>
                    Dr.C.Ramalingam
                </li>
            </ul>
            <h5><small>Convenors</small></h5>
            <ul>
                <li>
                    Dr.K.M.Gothandam
                </li>
                <li>
                    Dr.S.Babu
                </li>
                <li>
                    Dr.S.Karthikeyan
                </li>
            </ul>

        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function(){
        if(window.location.href.indexOf("/#/committees") == -1){
            window.location.assign("/#/committees")
        }
    };
</script>