<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1" style=" padding:2% !important;margin-top: 12%">

        <h3>
            Invitation
        </h3>

        <p>
            On behalf of the Organizing Committee of the International Conference on Current Trends in
            Biotechnology (ICCB-2016), we have the pleasure of inviting you to participate in the conference in VIT,Vellore, India
            during December 8-11, 2016. In this Conference, we hope to present a unique spectrum of scientific
            programme on the most recent and exciting developments in Biotechnology. The Conference is expected to
            display the numerous breakthroughs and significant developments in the important areas of biotechnology and
            their relevance to the welfare of mankind.

            We have great pleasure in inviting you for participating in ICCB-2016 and contributing original papers
            related to the topics covered by the conference. You are invited to a country with a long history,
            tradition, rich cultural heritage and enchanting natural beauty. A hearty welcome awaits you to explore this
            enchanted city and its green environment
        </p>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;margin-top:12%">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    8/7/16
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    15/7/16
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    30/7/16
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accomodation
                </td>
                <td>
                    30/7/16
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/comingSoon">Login</a></li>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/comingSoon">Program Schedule</a></li>
            <li><a href="#/contact">Contact Us</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="main_2" class="slab col m6 offset-m1 z-depth-1" style="">
        <div class="row">
            <h3>
                Organizers
            </h3>
        </div>
        <div class="row">

            <div class="col m12 s12">
                <img src="/images/organizers/GV.jpg"/>
                <h6>
                    <b>Dr G. Viswanathan</b>
                    <br/>
                    Chancellor, VIT
                    <br/>
                    Chief Patron, ICCB 2016
                </h6>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/invite") == -1) {
            window.location.assign("/#/invite")
        }
    };
</script>