<div class="row" style="margin-top:3.5em;">
<div id="main_1" class="slab z-depth-1 col m8 offset-m2" style=" padding:2% !important;">

    <h3>
        Invitation
    </h3>
    <p>
        On behalf of the Organizing Committee of the International Conference on New Horizons in Biotechnology (NHBT-2015), we have the pleasure of inviting you to participate in the conference in Trivandrum, India during November 22-25, 2015. In this Conference, we hope to present a unique spectrum of scientific programme on the most recent and exciting developments in Biotechnology. The Conference is expected to display the numerous breakthroughs and significant developments in the important areas of biotechnology and their relevance to the welfare of mankind.

        We have great pleasure in inviting you for participating in NHBT-2015 and contributing original papers related to the topics covered by the conference. You are invited to a country with a long history, tradition, rich cultural heritage and enchanting natural beauty. A hearty welcome awaits you to explore this enchanted city and its green environment
    </p>
</div>
</div>
<div class="row">
    <div class="col m2">
        <span style="visibility: hidden">
            asd
        </span>
    </div>
<div id="main_2" class="slab col m8 z-depth-1">
    <div class="row">
        <h3>
            Organizers
        </h3>
    </div>
    <div class="row">
        <div class="col m6">
            <img src="/images/organizers/AP.jpg" />
            <h6>
                <b>Prof AshokPandey</b>
                <br />
                Head, Biotechnology Division, NIIST
                <br />
                Chairman, NHBT 2015
            </h6>
        </div>
        <div class="col m6">
            <img src="/images/organizers/AG.jpg" />
            <h6>
                <b>Dr A Ajayaghosh</b>
                <br />
                Director, NIIST
                <br />
                Patron, NHBT 2015
            </h6>
        </div>
    </div>
</div>
</div>
