<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1 s12" style="  padding:2% 5% !important;margin-top: 12%">

        <h3>
            Invitation
        </h3>

        <p>
            On behalf of the Organizing Committee of the International Conference on Current Trends in
            Biotechnology (ICCB-2016), we have the pleasure of inviting you to participate in the conference in VIT,Vellore, India
            during December 8-11, 2016. In this Conference, we hope to present a unique spectrum of scientific
            programme on the most recent and exciting developments in Biotechnology. The Conference is expected to
            display the numerous breakthroughs and significant developments in the important areas of biotechnology and
            their relevance to the welfare of mankind.

            We have great pleasure in inviting you for participating in ICCB-2016 and contributing original papers
            related to the topics covered by the conference. You are invited to a country with a long history,
            tradition, rich cultural heritage and enchanting natural beauty. A hearty welcome awaits you to explore this
            enchanted city and its green environment
        </p>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;margin-top:12%">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    {{dates.abstracts}}
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    {{dates.notification}}
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    {{dates.normalrate}}
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accommodation
                </td>
                <td>
                    {{dates.accommodations}}
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/sciPrograms">Scientific Programs</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="http://www.brsi.in">BRSI</a></li>
            <li><a href="http://www.vit.ac.in">VIT</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="main_2" class="slab col m6 offset-m1 z-depth-1 s12" style="">
        <div class="row">
            <h3>
                Organizers
            </h3>
        </div>
        <div class="row">

            <div class="col m12 s12">
                <img src="/images/organizers/GV.jpg"/>
                <h6>
                    <b>Dr G. Viswanathan</b>
                    <br/>
                    Chancellor, VIT
                    <br/>
                    Chief Patron, ICCB 2016
                </h6>
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="slab col m6 offset-m1 z-depth-1 s12">
        <h3>
            About VIT
        </h3>
        <p>
            VIT University was established with the aim of providing quality higher education on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.The campus has a cosmopolitan atmosphere with students from all corners of the globe. Experienced and learned teachers are strongly encouraged to nurture the students. The global standards set at VIT in the field of teaching and research spur us on in our relentless pursuit of excellence. In fact, it has become a way of life for us. The highly motivated youngsters on the campus are a constant source of pride. Our Memoranda of Understanding with various international universities are our major strength. They provide for an exchange of students and faculty and encourage joint research projects for the mutual benefit of these universities. Many of our students, who pursue their research projects in foreign universities, bring high quality to their work and esteem to India and have done us proud. With steady steps, we continue our march forward. We look forward to meeting you here at VIT.
        </p>
        <h3>
            History of VIT
        </h3>
        <p>
            It was established under Section 3 of the University Grants Commission (UGC) Act, 1956, and was founded in 1984 as a self-financing institution called the Vellore Engineering College. The Union Ministry of Human Resources Development conferred University status on Vellore Engineering College in 2001. The University is headed by its founder and Chancellor, Dr. G. Viswanathan, a former Parliamentarian and Minister in the Tamil Nadu Government. In recognition of his service to India in offering world class education, he was conferred an honorary doctorate by the West Virginia University, USA. Sankar Viswanathan, Sekar Viswanathan and G.V. Selvam are the Vice-Presidents; Dr. Anand A. Samuel is the Vice-Chancellor and Dr. V. Raju and Dr. S. Narayanan are the Pro-Vice-Chancellors.
        </p>
        <h3>
            Our Vision
        </h3>
        <p>
            We at VIT University will impart futuristic technical education and instil high patterns of discipline through our dedicated staff, who shall set global standards, making our students technologically superior and ethically strong, who in turn shall improve the quality of life of the human race.
        </p>
        <h3>
            Our Mission
        </h3>
        <p>
            Our mission is to educate students from all over India, including those from the local and rural areas, and from other countries, so they become enlightened individuals, improving the living standards of their families, industry and society. We will provide individual attention, world-class quality education and take care of character building.
        </p>
        <h3>
            Quick Facts
        </h3>
        <ul class="aboutVIT">
            <li>
                Over 1,93,000 appeared for the VIT Engineering Entrance Examination (VITEEE) in 2014
            </li>
            <li>
                The institution offers 19 Undergraduate, 34 Post graduate, 2 Integrated and 4 Research Programmes.
            </li>
            <li>
                NAAC has re-accredited VIT University with an 'A' grade.
            </li>
            <li>
                A 360-acre eco-friendly campus with over 50.83 lakh sq.ft. built-up space at Vellore.
            </li>
            <li>
                A 170 acre eco-friendly second campus at Chennai.
            </li>
            <li>
                Over 24,000 students, with nearly 1/3rd of them women
            </li>
            <li>
                Students from 50 countries as well as from every state in India
            </li>
            <li>
                Over 1400 faculty and 1413 staff.
            </li>
            <li>
                VIT has been accredited by TCS, Wipro and Cognizant for academic collaboration and placements.
            </li>
            <li>
                Entered the Limca Book of Records for Campus Recruitment.
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/invite") == -1) {
            window.location.assign("/#/invite")
        }
    };
</script>