<div id="main_1" class="teal col m2">
    <h1>ICCB '16</h1>
    <hr/>
    <div class="marquee down">
        <p><a href="#!">Announcement 1</a></p>

        <p><a href="#!">Announcement 2</a></p>
    </div>
    <hr/>
    <h3>
        About ICCB 2016
    </h3>

    <p>
        ICCB-2016, an International conference focussing on recent developments on the frontier areas of Biotechnology,
        will bring together scientists, engineers and other experts from across the world to deliberate on global
        developments in the fields of Industrial Biotechnology, Medical Biotechnology, Environmental Biotechnology and
        Food & Agriculture Biotechnology.

        It is planned as a major event to be held at Trivandrum during November 22-25, 2015 with the participation of a
        large number of active researchers from all over the world.

        The conference is envisaged to provide a unique platform to the participants from industries and academic
        institutions to share their thoughts and views to develop possible linkages among them, It will also serve the
        purpose of global networking among them and help in creating a nucleus of interface research.
    </p>
</div>
<div id="main_2" class="">
   <div class="row"> <h3>Organized and Hosted by</h3></div>


    <div class="row">
        <div class="col m6 vit">
            <img src="/images/vit.png"/>
            <h6>VIT University, Vellore, Tamil Nadu, India</h6>
        </div>
        <div class="col m6 brsi">
            <img src="/images/BRSItiny.png"/>
            <h6>The Biotech Research Society, India</h6>
        </div>
    </div>
    <div class="row"> <h3>Participated and/or Supported by</h3></div>
    <div class="row">
        <div class="col m6 vit">
            <img src="/images/vit.png"/>

        </div>
        <div class="col m6 brsi">
            <img src="/images/BRSItiny.png"/>

        </div>
    </div>
</div>