<div class="row" style="margin:0 !important;">
    <div class="slider  " style="margin-top: 0 !important;">
        <ul class="slides z-depth-1">
            <li>
                <img src="/images/slideshow/slide1.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>ICCB - 2016</h3>
                    <h5 class="light grey-text text-lighten-3">International Conference on Current Trends in
                        Biotechnology & BRSI Convention</h5>
                </div>
            </li>
            <li>
                <img src="/images/slideshow/slide2.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Announcement 1</h3>
                    <h5 class="light grey-text text-lighten-3">Announcement</h5>
                </div>
            </li>
            <li>
                <img src="/images/slideshow/slide3.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Announcement 2</h3>
                    <h5 class="light grey-text text-lighten-3">Announcement</h5>
                </div>
            </li>
            <li>
                <img src="/images/slideshow/slide4.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Announcement 3</h3>
                    <h5 class="light grey-text text-lighten-3">Announcement</h5>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="main_1" class="col m6  offset-m1 z-depth-1 slab" style="padding: 0 !important;">
        <div class="row" style="padding:2% 10%;margin: 0">
            <div class="">
                <h3>
                    About ICCB 2016
                </h3>

                <p>
                    ICCB-2016, an International conference focussing on recent developments on the frontier areas of
                    Biotechnology,
                    will bring together scientists, engineers and other experts from across the world to deliberate on
                    global
                    developments in the fields of Industrial Biotechnology, Medical Biotechnology, Environmental
                    Biotechnology and
                    Food & Agriculture Biotechnology.

                    It is planned as a major event to be held at Trivandrum during November 22-25, 2015 with the
                    participation of a
                    large number of active researchers from all over the world.

                    The conference is envisaged to provide a unique platform to the participants from industries and
                    academic
                    institutions to share their thoughts and views to develop possible linkages among them, It will also
                    serve the
                    purpose of global networking among them and help in creating a nucleus of interface research.
                </p>
            </div>

        </div>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 3% 5% !important;">
        <h5>Important Dates</h5>
        <ul>
            <li>Submission of abstracts</li>
            <li>Acceptance Notification</li>
            <li>Registration at normal rate</li>
            <li>Booking of Accomodation</li>
        </ul>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/comingSoon">Login</a></li>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/comingSoon">Program Schedule</a></li>
            <li><a href="#/contact">Contact Us</a></li>
        </ul>
    </div>
    <div id="main_2" class="col m6  offset-m1 z-depth-1 slab" style="margin-top: 3%">
        <div class="row"><h3>Organized and Hosted by</h3></div>


        <div class="row">
            <div class="col m6  s12 vit">
                <img src="/images/vit.png"/>
                <h6>VIT University, Vellore, Tamil Nadu, India</h6>
            </div>
            <div class="col m6 s12 brsi">
                <img src="/images/BRSItiny.png"/>
                <h6>The Biotech Research Society, India</h6>
            </div>
        </div>
        <div class="row"><h3>Participated and/or Supported by</h3></div>
        <div class="row">
            <div class="col m6 s12 vit">
                <img src="/images/vit.png"/>

            </div>
            <div class="col m6 s12 brsi">
                <img src="/images/BRSItiny.png"/>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/") == -1) {
            window.location.assign("/#/")
        }
    };
</script>