<div class="row" style="margin-top: 5% !important;margin-bottom:0">
<div class="slider col m8 offset-m2 " style="">
    <ul class="slides z-depth-1">
        <li>
            <img src="/images/slideshow/slide1.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>ICCB - 2016</h3>
                <h5 class="light grey-text text-lighten-3">International Congress for Conservation Biology</h5>
            </div>
        </li>
        <li>
            <img src="/images/slideshow/slide2.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Announcement 1</h3>
                <h5 class="light grey-text text-lighten-3">Announcement</h5>
            </div>
        </li>
        <li>
            <img src="/images/slideshow/slide3.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Announcement 2</h3>
                <h5 class="light grey-text text-lighten-3">Announcement</h5>
            </div>
        </li>
        <li>
            <img src="/images/slideshow/slide4.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Announcement 3</h3>
                <h5 class="light grey-text text-lighten-3">Announcement</h5>
            </div>
        </li>
    </ul>
</div>
</div>
<div class="row">
    <div class="col m2">
        <span style="visibility: hidden">asd</span>
    </div>
    <div id="main_1" class="col m8 z-depth-1 slab" style="padding: 0 !important;">
    <div class="row" style="padding: 0;margin: 0">
        <div class="col m8" style="border-right: 1px solid rgba(0,0,0,0.2); padding: 4%">
            <h3>
                About ICCB 2016
            </h3>

            <p>
                ICCB-2016, an International conference focussing on recent developments on the frontier areas of Biotechnology,
                will bring together scientists, engineers and other experts from across the world to deliberate on global
                developments in the fields of Industrial Biotechnology, Medical Biotechnology, Environmental Biotechnology and
                Food & Agriculture Biotechnology.

                It is planned as a major event to be held at Trivandrum during November 22-25, 2015 with the participation of a
                large number of active researchers from all over the world.

                The conference is envisaged to provide a unique platform to the participants from industries and academic
                institutions to share their thoughts and views to develop possible linkages among them, It will also serve the
                purpose of global networking among them and help in creating a nucleus of interface research.
            </p>
            </div>
        <div class="col m4 s12" style="padding: 0">
            <div class="slabcuts">
            <a href="#/comingSoon">Login</a>
            </div>
            <div class="slabcuts">
                <a href="#/register">Registration</a>
            </div>
            <div class="slabcuts">
                <a href="#/comingSoon">Important Dates</a>
            </div>
        </div>
    </div>

    </div>
</div>
<div class="row">
    <div id="main_2" class="col m8 offset-m2 slab z-depth-1">
       <div class="row"> <h3>Organized and Hosted by</h3></div>


        <div class="row">
            <div class="col m6  s12 vit">
                <img src="/images/vit.png"/>
                <h6>VIT University, Vellore, Tamil Nadu, India</h6>
            </div>
            <div class="col m6 s12 brsi">
                <img src="/images/BRSItiny.png"/>
                <h6>The Biotech Research Society, India</h6>
            </div>
        </div>
        <div class="row"> <h3>Participated and/or Supported by</h3></div>
        <div class="row">
            <div class="col m6 s12 vit">
                <img src="/images/vit.png"/>

            </div>
            <div class="col m6 s12 brsi">
                <img src="/images/BRSItiny.png"/>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(){
        if(window.location.href.indexOf("/#/") == -1){
            window.location.assign("/#/")
        }
    };
</script>