<div class="row" style="margin:0 !important;">
    <div class="slider  " style="margin-top: 0 !important;">
        <ul class="slides z-depth-1" style="padding: 0;">
            <li style="padding: 0">
                <img src="/images/slideshow/slide1.jpg"> <!-- random image -->
                <div class="caption center-align"
                     style="width: 100%;margin: 0;padding: 0 5% 2% 5%;left:0;right: 0;background: rgba(0,0,0,0.4)">
                    <h4 style="text-align:left">ICCB - 2016</h4>

                    <h6 class="light grey-text text-lighten-3" style="text-align:left">International Conference on
                        Current Trends in
                        Biotechnology</h6>
                    <h5>The conference will go on as scheduled.</h5>
                    <h6 class="light grey-text text-lighten-3" style="margin-top: 2%;text-align: left">Quality article
                        will be published in the following journals:

                    </h6><h6 class="light grey-text text-lighten-3" style="text-align: left;font-weight: bold">
                        Bioresource Technology
                        <br/>
                        Plant Cell, Tissue and Organ Culture
                        <br/>
                        International Journal of Environmental Science and Technology
                        <br/>
                        Indian Journal of Experimental Biology
                        <br/>
                        Indian Journal of Biotechnology
                        <br />
                        Interdisciplinary Sciences: Computational Life Sciences
                    </h6>
                    <a href="/getSchedule" target="_blank" class="btn" style="background:white;color:rgba(0,0,0,0.7);float:left">Conference Schedule</a>
                    <a href="/getPosterSchedule" target="_blank" class="btn mobile_btn" style="background:white;color:rgba(0,0,0,0.7);float:left;">Poster Presentation Schedule</a>


                </div>
            </li>


            <!-- <li>
                 <img src="/images/slideshow/slide3.jpg">
                 <div class="caption left-align">
                     <h3>Announcement 2</h3>
                     <h5 class="light grey-text text-lighten-3">Announcement</h5>
                 </div>
             </li>
             <li>
                 <img src="/images/slideshow/slide4.jpg">
                 <div class="caption left-align">
                     <h3>Announcement 3</h3>
                     <h5 class="light grey-text text-lighten-3">Announcement</h5>
                 </div>
             </li>-->
        </ul>
    </div>
</div>
<div class="row">
    <div id="main_1" class="col m6  offset-m1 z-depth-1 slab" style="padding: 0 !important;">
        <div class="row" style="padding:5% 15%;margin: 0">
            <div class="">
                <h3>
                    About ICCB 2016
                </h3>

                <p>
                    ICCB-2016, an International conference focussing on recent developments on the frontier areas of
                    Biotechnology,
                    will bring together scientists, engineers and other experts across the world to deliberate on
                    global
                    developments in the fields of Industrial Biotechnology, Medical Biotechnology, Environmental
                    Biotechnology and
                    Food & Agriculture Biotechnology.

                    It is planned as a major event to be held at VIT,Vellore during December 8-10, 2016 with the
                    participation of a
                    large number of active researchers from all over the world.

                    The conference is envisaged to provide a unique platform to the participants from industries and
                    academic
                    institutions to share their thoughts and views to develop possible linkages among them, It will also
                    serve the
                    purpose of global networking among them and help in creating a nucleus of interface research.
                </p>
            </div>

        </div>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    {{dates.abstracts}}
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    {{dates.notification}}
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    {{dates.normalrate}}
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accommodation
                </td>
                <td>
                    {{dates.accommodations}}
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/sciPrograms">Scientific Programs</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="http://www.brsi.in">BRSI</a></li>
            <li><a href="http://www.vit.ac.in">VIT</a></li>
        </ul>
    </div>
    <div id="main_2" class="col m6  offset-m1 z-depth-1 slab" style="margin-top: 1%">
        <div class="row"><h3>Organized and Hosted by</h3></div>


        <div class="row">
            <div class="col m6  s12 vit">
                <img src="/images/vit.png"/>
                <h6>VIT University, Vellore, Tamil Nadu, India</h6>
            </div>
            <div class="col m6 s12 brsi">
                <img src="/images/BRSItiny.png"/>
                <h6>The Biotech Research Society, India</h6>
            </div>
        </div>
        <div class="row"><h3>Official Media Partner</h3></div>

        <div class="row">
            <div class="col m12  s12">
                <img src="/images/sponsors/sponsor1.jpg" class="sponsorsImg"/>
            </div>

        </div>
        <!-- <div class="row"><h3>Supported by</h3></div>
         <div class="row">
             <div class="col m6 s12 vit">
                 <img src="/images/vit.png"/>

             </div>
             <div class="col m6 s12 brsi">
                 <img src="/images/BRSItiny.png"/>

             </div>-->
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/") == -1) {
            window.location.assign("/#/")
        }
    };
</script>