<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row abstracts" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1" style=" padding:2% 5% 6% 5% !important;margin-top: 12%">
        <h3>
            Abstracts Submission
        </h3>

        <div class="content">
            <h5>
                <small>ABSTRACT SUBMISSIONS</small>
            </h5>
            <p>
                All delegates with accepted abstracts are requested to complete their registration soon. registrations
                are limited to 400 numbers and will be on first come first serve basis. Acceptance of your abstract is
                no guarantee for your participation since paper/poster presentation require that the delegate is
                registered for the conference. Please <a href="#/register"> register</a> soon to ensure your
                participation. Please see the home page for the current number of registrations open.
            </p>
            <h6><b>
                    <small>REGISTRATION IS MANDATORY FOR PRESENTING YOUR ACCEPTED ABSTRACT. THOUGH THE LAST DATE OF
                        REGISTRATION IS 15 OCT 2015, IT MAYBE CLOSED EARLIER IF THE MAXIMUM NUMBER OF PARTICIPANTS (400)
                        HAVE BEEN REACHED. SO KINDLY REGISTER AT THE EARLIEST TO ENSURE PARTICIPATION
                    </small>
                </b></h6>
        </div>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;margin-top:12%">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    10th September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    15 September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    30th September 2016
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accommodation
                </td>
                <td>
                    15th October 2016
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/sciPrograms">Scientific Programs</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="http://www.brsi.in">BRSI</a></li>
            <li><a href="http://www.vit.ac.in">VIT</a></li>
        </ul>
    </div>
</div>
<div class="row abstracts">
    <div id="main_2" class="slab z-depth-1 col m6 offset-m1" style=" padding:2% !important;margin-top: -7% !important;">
        <h3>
            Archive
        </h3>

        <div class="content">
            <p>
                We invite authors to contribute original papers related to the topics covered by ICCB 2016. Contributory
                papers shall be considered for presentation as posters. The selection of papers will be based on the
                abstract submitted.
            </p>
            <h5>
                <small>How to submit an abstract</small>
            </h5>
            <p>
                You will need to create a user profile at the ICCB 2016 webpage for submitting the abstract (<a
                        href="#/comingSoon"> Create a user profile here</a>). After creating a user profile, you will be
                provided a user name and password with which you can login when you will be presented a " user dash
                board" where you can view your details, submit an abstract or register for the conference.
            </p>

            <p>
                While <b>abstract submission does not require registration to the conference</b>, presentation of paper
                at the conference and submission of full manuscript to the ICCB 2016 special issues of journals require
                that the presenting author or any of the authors to be registered for the conference by paying the
                applicable registration fee.
            </p>
            <h5>
                <small>Preparation of abstract and submission</small>
            </h5>
            <p>
                The abstract of the paper to be presented as poster should be prepared as a MS Word document
                (approximately 200 words). The abstract has to be prepared as per the specified format which is
                available as a <a href="/getFile"> template file</a>. The name of presenting author has to
                be underlined. The abstracts should be uploaded to the ICCB 2016 abstract submission page which you can
                access after <a href="#/comingSoon"> logging in </a>.
            </p>

            <p>
                Mere submission of a manuscript does not imply that the paper is accepted in the conference. Manuscripts
                submitted will be screened by a screening committee and status of acceptance shall be intimated to the
                lead/corresponding author on or before15th September 2015. The status may also be known from the user
                dash board after logging in as a user (<a href="#/comingSoon"> Login Here</a>).
            </p>
            <h5>
                <small>Publication of full papers in special issues of journals</small>
            </h5>
            <p>
                Full manuscripts of abstracts submitted to the conference may be considered for publication in special
                issues ofthe journals - Bioresource Technology, Indian Journal of Biotechnology and Indian Journal of Experimental Biology. Submission of full
                manuscripts should be done online following each journal's policies. Participants have to indicate their
                choice of journal (based on appropriate subject area) in the abstract submission page while submitting
                the abstract. (<a href="#/paper/full">More details</a>)
            </p>
            <h5>
                <small>Abstract Book and Proceedings</small>
            </h5>
            <p>
                Abstracts of the plenary and invited lectures and of the contributory presentations would be published.
            </p>
        </div>
    </div>

</div>


<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/paper/abstracts") == -1) {
            window.location.assign("/#/paper/abstracts")
        }
    };
</script>