<div class="row" style="">
    <div id="main_1" class="slab col m8 offset-m2 z-depth-1">
        <h3>
            Paper Submissions
        </h3>

        <div class="content">
            <h5>
                <small>Conference participation and submission of abstracts</small>
            </h5>
            <p>
                Participation is open to all persons involved in Biotech R&D, teaching, consultancy, planning, business
                etc. from all over the world. While oral presentations are by invitation only, prospective participants
                are invited to contribute papers to be presented as posters.
            </p>

            <p>
                Details about abstract submission is found <a href="#/paper/abstracts">here</a>
            </p>

            <p>
                The posters have to be prepared according to the specifications of NHBT 2015. There are also awards for
                the best posters
            </p>

            <p>
                Details on poster preparation and evaulation are found <a href="#/comingSoon">here</a>
            </p>
        </div>
        <div class="content">
            <h5>
                <small>Abstracts Book and Proceedings</small>
            </h5>
            <p>
                Abstracts of the plenary and invited lectures and of contributory presentations would be published.
            </p>
        </div>
        <div class="content">
            <h5>
                <small>Full paper publications in special issues of Journals</small>
            </h5>
            <p>
                High quality original research work might be considered for publication in the special issue of <b>Bioresource
                    Technology, Renewable Energy</b> or <b>Biologia</b>. More details on publishing in special issues is
                available <a href="#/comingSoon"> here</a>
            </p>

            <p>
                If you want your manusript to be considered for publication in the special issue or any the journals,
                kindly indicate this during abstract submission by choosing the appropriate option in the form
            </p>

        </div>
    </div>

</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/paper/general") == -1) {
            window.location.assign("/#/paper/general")
        }
    };
</script>