<div class="row" style="overflow: hidden;height:200px;z-index: -1;position: absolute">
    <img src="/images/wallpapers/neural.jpg" style="max-width: 100%;z-index: -1"/>
</div>
<div class="row" style="">
    <div id="main_1" class="slab z-depth-1 col m6 offset-m1" style=" padding:2% !important;margin-top: 12%">
        <h3>
            Paper Submissions
        </h3>

        <div class="content">
            <h5>
                <small>Conference participation and submission of abstracts</small>
            </h5>
            <p>
                Participation is open to all persons involved in Biotech R&D, teaching, consultancy, planning, business
                etc. from all over the world. While oral presentations are by invitation only, prospective participants
                are invited to contribute papers to be presented as posters.
            </p>

            <p>
                Details about abstract submission is found <a href="#/paper/abstracts">here</a>
            </p>

            <p>
                The posters have to be prepared according to the specifications of ICCB 2016. There are also awards for
                the best posters
            </p>

            <p>
                Details on poster preparation and evaulation are found <a href="#/comingSoon">here</a>
            </p>
        </div>
        <div class="content">
            <h5>
                <small>Abstracts Book and Proceedings</small>
            </h5>
            <p>
                Abstracts of the plenary and invited lectures and of contributory presentations would be published.
            </p>
        </div>
        <div class="content">
            <h5>
                <small>Full paper publications in special issues of Journals</small>
            </h5>
            <p>
                High quality original research work might be considered for publication in the special issue of <b>Bioresource
                    Technology, Renewable Energy</b> or <b>Biologia</b>. More details on publishing in special issues is
                available <a href="#/comingSoon"> here</a>
            </p>

            <p>
                If you want your manusript to be considered for publication in the special issue or any the journals,
                kindly indicate this during abstract submission by choosing the appropriate option in the form
            </p>

        </div>
    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 dates" style="padding: 2% 1% !important;margin-top:12%">
        <h5>Important Dates</h5>
        <table style="margin: 0 !important;padding: 0 !important;">
            <tr>
                <td>
                    Submission of abstracts
                </td>
                <td>
                    8/7/16
                </td>
            </tr>
            <tr>
                <td>
                    Acceptance Notification
                </td>
                <td>
                    15/7/16
                </td>
            </tr>
            <tr>
                <td>
                    Registration at normal rate
                </td>
                <td>
                    30/7/16
                </td>
            </tr>
            <tr>
                <td>
                    Booking of Accomodation
                </td>
                <td>
                    30/7/16
                </td>
            </tr>
        </table>

    </div>
    <div class="col m3 s12 slab offset-m1 z-depth-1 links" style="padding: 3% 5% !important;">
        <h5>Important Links</h5>
        <ul>
            <li><a href="#/comingSoon">Login</a></li>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/comingSoon">Program Schedule</a></li>
            <li><a href="#/contact">Contact Us</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/paper/general") == -1) {
            window.location.assign("/#/paper/general")
        }
    };
</script>