<div class="row" style="margin-top:3.5em">
    <div class="col m2">
        <span style="visibility: hidden">
            asda
        </span>
    </div>
    <div id="main_1" class="col m8 slab z-depth-1">

        <h3>
            Registration
        </h3>
        <hr />

        <p class="alleft">
            Registration to NHBT 2015 is can be done for all delegates who have created a user profile for NHBT 2015
            registration. Kindly use your user ID and password which you have received in your registered e-mail ID
            earlier to <a href="#/comingSoon">login</a> and complete the registration. After logging in, the users can
            view your details and register for the conference. Please note that a Registration is mandatory for
            considering the accepted abstract for presentation in the conference
        </p>

        <p class="alleft">Conference registration status will be displayed on <a href="#/comingSoon">logging in</a>, and
            by default it will show "Pending Status". The status will change to "Registered" subject to realization of
            the payment, which you can make by Bank Transfer or by Demand Draft (Please find below the details of
            Registration fee and Mode of Payment). At least one of the authors of an accepted manuscript has to be a
            registered delegate to present the paper at the conference.
        </p>

        <p class="alleft">
            <b>Registrations will be made on a first come first serve basis, till the maximum number of participants
                (~400) have been reached.</b>The last date for registration at normal rate is 15 October 2015. There
            have been overwhelming responses in the past, and registrations were full even before the last date. So, you
            are requested to register at the earliest to ensure participation.
        </p>

        <p class="alleft">
            <b>
                REGISTRATION IS MANDATORY FOR PRESENTING YOUR ACCEPTED ABSTRACT. THOUGH THE LAST DATE OF REGISTRATION IS
                15 OCT 2015, IT MAYBE CLOSED EARLIER IF THE MAXIMUM NUMBER OF PARTICIPANTS (400) HAVE BEEN REACHED. SO
                KINDLY REGISTER AT THE EARLIEST TO ENSURE PARTICIPATION
            </b>
        </p>

        <p class="alleft">
            The registered delegates would be entitled for admission to opening session, entrance to all scientific
            sessions and social programs, conference materials including name badge and abstracts book, morning and
            afternoon tea/coffee and lunches. Registered accompanying persons would be entitled to admission to opening
            session, name badge, entrance to social programmes, morning and afternoon tea/coffee and lunches.
        </p>

    </div>
</div>
<div class="row">
    <div class="col m2">
        <span style="visibility: hidden">
            asda
        </span>
    </div>
    <div id="main_2" class="col m8 slab z-depth-1">
        <div class="row">
            <h3>Registration Fee</h3>
            <hr />
        </div>
        <div class="row">
            <h5><b>Indian Delegates</b></h5>
            <table>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Fee (Rs) before 15 Oct 2016
                    </th>
                    <th>
                        Fee (Rs) after 15 Oct 2016
                    </th>
                </tr>
                <tr ng-repeat="a in Indian">
                    <td>{{a.cat}}</td>
                    <td>{{a.fee1}}</td>
                    <td>{{a.fee2}}</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <h5><b>Overseas Delegates</b></h5>
            <table>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Fee (in US$) before 15 Oct 2016
                    </th>
                    <th>
                        Fee (in US$) after 15 Oct 2016
                    </th>
                </tr>
                <tr ng-repeat="a in Over">
                    <td>{{a.cat}}</td>
                    <td>{{a.fee1}}</td>
                    <td>{{a.fee2}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col m2">
        <span style="visibility: hidden">
            asda
        </span>
    </div>
    <div id="main_3" class="col m8 z-depth-1 slab">
        <div class="row">
            <h3>Payment</h3>
            <small>All payment should be made as below</small>
            <hr />
        </div>
        <div class="row">
            <ol>
                <li><p>By bank transfer for which details are as below:</p>
                    <table>
                        <tr>
                            <td>
                                Account name
                            </td>
                            <td>
                                Vellore Institute of Technology
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Account no
                            </td>
                            <td>
                               407580397
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bank name
                            </td>
                            <td>
                                Indian Bank, VIT Branch
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Branch name and address
                            </td>
                            <td>
                                VIT Branch, Katpadi, Vellore
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MICR Code
                            </td>
                            <td>
                                632019008
                            </td>
                        </tr>
                        <tr>
                            <td>
                                IFSC
                            </td>
                            <td>
                                IDIB000V086
                            </td>
                        </tr>
                    </table>
                    <small>Please include the bank transaction ID and other details in the appropriate column in the
                        registration page.
                    </small>
                </li>
                <li>
                    <p>
                        By bank draft drawn in favour of NIIST, Trivandrum,
                    </p>

                    <p>
                        Please include the DD number, Date and other details in the registration page and the original
                        DD should be sent to
                    </p>
                    <table>
                        <tr>
                            <td>Dr S. Karthi</td>
                        </tr>
                        <tr>
                            <td>Convener, ICCB 2016</td>
                        </tr>
                        <tr>
                            <td>Assistant Director - Placement & Training
                                <br />
                                Associate Professor - SBST, HTS Labs</td>
                        </tr>
                        <tr>
                            <td>Vellore Institute of Technology, Vellore</td>
                        </tr>
                        <tr>
                            <td>Vellore-632014, Tamil Nadu, India</td>
                        </tr>
                        <tr>
                            <td>Phone: +91 948 6251937</td>
                        </tr>
                        <tr>
                            <td>Email: TBD</td>
                        </tr>
                    </table>
                </li>

            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col m2">
        <span style="visibility: hidden">
            asda
        </span>
    </div>
    <div id="main_4" class="slab col m8 z-depth-1">
        <div class="row">
            <h3>
                Cancellations and Refunds
            </h3>
            <hr />
        </div>
        <div class="row">
            <p>
                Cancellation can be done by sending a email request quoting your user ID and registered email to
                nhbt2015@gmail.com. Please include "Request for Cancellation of Registration" in the Subject line of the
                mail.

                Upon cancellation, the refunds of registration fee would be made as follows:
            </p>
            <table>
                <tr>
                    <td>
                        Before 31.10.2016
                    </td>
                    <td>
                        50% refund
                    </td>
                </tr>
                <tr>
                    <td>
                        After 31.10.2015
                    </td>
                    <td>
                        No refund
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/register") == -1) {
            window.location.assign("/#/register")
        }
    };
</script>