<div class="container">
    <div class="col md 8">


        <div class="row">
            <form class="col s12" method="POST" action="/register">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="fullname" type="text" class="validate" name="fullname">
                        <label for="fullname">Full Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="institution" type="text" class="validate" name="institution">
                        <label for="institution">Institution</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="confirm_password">
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <select name="journal">
                            <option value="Bioresource Technology " selected>Bioresource Technology</option>
                            <option value="Plant Cell, Tissue and Organ Culture ">Plant Cell, Tissue and Organ Culture</option>
                            <option value="International Journal of Environmental Science and Technology ">International Journal of Environmental Science and Technology
                            </option>
                            <option value="Indian Journal of Experimental Biology ">Indian Journal of Experimental Biology
                            </option>
                            <option value="Indian Journal of Biotechnology">Indian Journal of Biotechnology</option>
                        </select>
                        <label for="journal">Preferred Journal</label>

                    </div>
                </div>
                <button class="btn" type="submit">Submit</button>
                <a class="btn" href="#/login">Login</a>
                <small>Already registered?</small>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });

</script>
