<form method="post" id="transaction">
    <input name="id_name" type="text" />
    <input type="hidden" name="" />
    <input type="hidden" name="" />
    <input type="hidden" name="" />
    <input type="hidden" name="" />
    <input type="hidden" name="" value="1.0"  />

</form>
<button onclick="submition()">Submit </button>
<script>
    var submition=function(){

        function loadJSON(){
            var c = "/users/cred";
            var z = new XMLHttpRequest();
            try{
                // Opera 8.0+, Firefox, Chrome, Safari
                z = new XMLHttpRequest();
            }catch (e){
                // Internet Explorer Browsers
                try{
                    z = new ActiveXObject("Msxml2.XMLHTTP");

                }catch (e) {

                    try{
                        z = new ActiveXObject("Microsoft.XMLHTTP");
                    }catch (e){
                        // Something went wrong
                        alert("Your browser broke!");
                        return false;
                    }

                }
            }

            z.onreadystatechange = function(){

                if (z.readyState == 4  && z.status==200){
                    // Javascript function JSON.parse to parse JSON data
                    var jsonObj = JSON.parse(z.responseText);

                    // jsonObj variable now contains the data structure and can
                    // be accessed as jsonObj.name and jsonObj.country.
                    var a = document.getElementById('transaction');
                    console.log(a);
                    console.log(jsonObj);
                    a.childNodes[1].value = jsonObj.id_name;
                    a.childNodes[3].name = 'id_event';
                    a.childNodes[3].value= jsonObj.id_event;
                    a.childNodes[5].name = 'id_trans';
                    a.childNodes[5].value= jsonObj.id_trans;
                    a.childNodes[7].name = 'id_merchant';
                    a.childNodes[7].value= jsonObj.id_merchant;
                    a.childNodes[9].name = 'id_password';
                    a.childNodes[9].value= jsonObj.id_password;
                    a.childNodes[11].name = 'amt_event';
                    a.childNodes[11].value= jsonObj.amt_event;
                    console.log(a.childNodes);
                    a.action = jsonObj.path;
                    console.log(a.innerHTML);
                    a.submit();
                }
            }
            var a = document.getElementById('transaction');
            var param = "name=" + a.childNodes[1].value + '&amt_event=' + a.childNodes[11].value;
            z.open("GET", c + "?" + param, true);
            z.send();
        }

        loadJSON();
    };
</script>