<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Payment Successful | ICCB 2016 | VIT University</title>
  </head>
  <body>
    <p>
      Payment has been received successfully!
    </p>
  </body>
</html>
